/*@font-face {*/
/*  font-family: 'Segoe UI';*/
/*  src: url("../assets/fonts/Segoe-UI.woff");*/
/*  font-weight: 400;*/
/*  font-display: swap;*/
/*  font-style: normal;*/
/*}*/
/*@font-face {*/
/*  font-family: 'Segoe UI';*/
/*  src: url("../assets/fonts/SegoeUI-SemiBold.woff");*/
/*  font-weight: 600;*/
/*  font-display: swap;*/
/*  font-style: normal;*/
/*}*/
/*@font-face {*/
/*  font-family: 'Segoe UI';*/
/*  src: url("../assets/fonts/Segoe-UI-Bold.woff");*/
/*  font-weight: 700;*/
/*  font-display: swap;*/
/*  font-style: normal;*/
/*}*/
@font-face {
  font-family: SegoeUI;
  src:
    local("Segoe UI Light"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: SegoeUI;
  src:
    local("Segoe UI Semilight"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: SegoeUI;
  src:
    local("Segoe UI"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: SegoeUI;
  src:
    local("Segoe UI Bold"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: SegoeUI;
  src:
    local("Segoe UI Semibold"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
  font-weight: 700;
}

* {
  font-family: 'Segoe UI', sans-serif;
}
body {
  overflow-x: hidden;
}

.container {
  background-color: #6725A8;
  height: 100%;
}
.wrapper {
  border-radius: 24px;
  background-color: #F6F6FA;
  padding: 24px 24px 32px 24px;
}
.gray_wrapper {
  border-radius: 8px;
  background-color: #F6F6FA;
  padding: 8px 7px 12px 6px
}
.footer {
  display: flex;
  padding: 24px 0;
  align-items: center;
  justify-content: center;
}
.row_container {
  display: flex;
  flex-direction: row;
}
.column_container {
  display: flex;
  flex-direction: column;
}

.form_container .js-input-label {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  padding-bottom: 4px;
  margin: 34px 24px 4px 0;
  position: relative;
  flex-direction: column;
}
.form_container .js-input-label.error {
  border-bottom: 1px solid #F55123;
}
.form_container .js-input-label.error span{
  display: block;
}
.form_container .js-input-label span {
  position: absolute;
  top: 28px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  width: 100%;

  color: #F55123;
  display: none;
}
.js-input-label.error {
  color: #F55123;
}
.shadow {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
}
.p0{
  padding: 0;
}
.jc-sb {
  justify-content: space-between;
}
.mt-8 {
  margin-top: 8px;
}
.mt-12 {
  margin-top: 12px;
}
.mt-24 {
  margin-top: 24px;
}
.ai-s {
  align-items: stretch;
}
.pl-32 {
  padding-left: 32px;
}
.pl-30 {
  padding-left: 30px;
}
.pl-10 {
  padding-left: 10px;
}
.ml-32 {
  margin-left: -32px;
}
.mr-4 {
  margin-right: 4px;
}

.check_input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.check_box {
  /*position: absolute;*/
  width: 22px;
  height: 22px;
  background-image: url("/assets/icons/checkbox_off.svg");
  /*margin-left: -32px;*/

}
.check_input:checked + .check_box {
  background-image: url("/assets/icons/checkbox.svg");
  margin-top: 1px;
}
.dn {
  display: none;
}
.ml0{
  margin-left: 0;
}
.m0 {
  margin: 0;
}
.mb0 {
  margin-bottom: 0;
}
.address_container{
  margin-top: 20px;
}
.pb-40{
  padding-bottom: 40px;
}
.mt-10 {
  margin-top: 10px;
}
.pointer {
  cursor: pointer;
}






